<div class="well col-md-6 col-lg-offset-3" style="margin-top: 60px">
    <h3>Upload Photo</h3>
    <form method="post" action="/home/upload" enctype="multipart/form-data">
        <input type="text" class="form-control" name="Title" placeholder="Title" />
        <br />
        <input type="file" name="ImageFile" />
        <br />
        <button class="btn btn-success">Upload</button>
    </form>
</div>