<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_180509.Data.Properties.Settings.ImageDBConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=ImageDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>